.wrap {
    min-width: 1900px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
    white-space: nowrap;

    max-width: 1400px;
    margin: 0 auto;
}

.header.on {
    background: #fff;
}

.header:hover {
    color: #555;
}


.header h1 {
    min-width: 100px;
    z-index: 999;
    margin: 5px 0;
    padding: 15px 0;
}

.header .gnb>ul {
    display: flex;
}


.header .gnb>ul>li>a {
    position: relative;
    padding: 0 50px;
    font-size: 20px;
}

.header .gnb>ul>li>a::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translate(-50%, 0);
    background: #21819E;
}

.header .gnb>ul>li>a:hover::before {
    width: 100px;
    transition: 0.5s;
}

.header .gnb>ul>li {
    position: relative;

}


.header .gnb>ul>li a {
    display: block;
    text-align: center;
}



.header .gnb>ul>li .submenu {
    position: absolute;
    top: 100px;
    left: 50%;
    line-height: 30px;
    transform: translate(-50%, 0);

    font-size: 18px;
    color: #555;

    margin: 25px 0 0 0;
    max-width: 1200px;

    height: 0;
    overflow: hidden;

    opacity: 0;
    transition: 0.125s;
}

.header:hover .gnb>ul>li .submenu {
    height: 220px;
    opacity: 1;
}

.header .submenu a:hover {
    color: #21819E;
    font-weight: 500;
}



.header .gnb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: #fff;
    border-top: 1px solid #ddd;

    transition: 0.5s;
}

.header:hover .gnb::before {
    height: 300px;
}

.header .link {
    z-index: 999;
}

.header .link i {
    font-size: 25px;
    color: rgb(33, 129, 158, 0.7);
    margin: 0 10px;
    cursor: pointer;
}

.header .link i:hover {
    color: rgb(33, 129, 158)
}



/* --------------------------------------- */

.main_Visual {
    background: url(../images/mv_bg.jpg)no-repeat;
    position: relative;
    overflow: hidden;
}

.main_Visual .sec_img {
    position: absolute;
    right: 30px;
    bottom: 40px;
}


.main_Visual .itm {
    position: relative;
    min-height: 968px;
    height: 640px;
    width: 100%;

}

.main_Visual .itm01 {
    background: url(../images/감자돌이.png)no-repeat;
}

.main_Visual .itm02 {
    background: url(../images/통큰오짱.png)no-repeat;
}

.main_Visual .itm03 {
    background: url(../images/차새대.png)no-repeat;
}

.main_Visual .itm04 {
    background: url(../images/차돌.png)no-repeat;
}

.main_Visual .itm05 {
    background: url(../images/반반.png)no-repeat;
}

.main_Visual .itm06 {
    background: url(../images/마라이징.png)no-repeat;
}

/* ----------------------------------------- */

.main_Visual .txt {
    position: absolute;
    top: 28%;
    right: 21%;
    white-space: nowrap;
    color: #333;
}

.main_Visual .txt h2 {
    font-size: 100px;
    font-weight: 800;
    margin: 0 0 100px 0;
    font-family: 'Noto Serif KR';
    line-height: 110px;
}

.main_Visual .txt h2 span {
    display: block;
    color: #21819E;
}

.main_Visual .txt p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

.main_Visual .txt p strong {
    font-weight: 600;
}

/* ↓ 버튼만들기 ↓ */

.main_Visual .arrows {
    position: absolute;
    top: 28%;
    left: 50%;
    flex-direction: column;
    gap: 30px;
    display: flex;
}

.main_Visual .arrows i {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.main_Visual .arrows i:hover {
    color: rgb(0, 0, 0);
}

/* ---------------------------------- */

.main_Content .world {
    position: relative;
    background: url(../images/world_bg.jpg);
    height: 650px;
    width: 100%;
    overflow: hidden;
}

.main_Content .world_txt {
    color: #fff;
    text-align: center;
}

.main_Content .world_txt h3 {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Noto Serif KR';
    margin: 100px 0 50px 0;
}

.main_Content .world_txt p {
    font-size: 20px;
    line-height: 35px;
}

.main_Content .world_txt p strong {
    font-weight: 700;
}

.main_Content .world_img {
    position: absolute;
    bottom: -30%;
}

/* ------------------------------------ */

.main_Event {
    position: relative;
    background: #ddd url(../images/차돌.png) no-repeat right center;
}

.main_Event .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 15px;
}

.main_Event .mini_Arrows i {
    font-size: 40px;
}

.main_Event .event_Slide {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 50px;
}

/* ------------------------------------ */

.main_Event .event_Box01 {
    background: #ddd;
}

.main_Event .event_Box01 h3 {
    font-size: 70px;
    font-weight: 800;
    font-family: 'Noto Serif KR';
    line-height: 85px;
    margin: 50px 0 35px 0;
}

.main_Event .event_Box01 h3 strong {
    color: #21819E;
}

.main_Event .event_Box01 p {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 30px 0;
    font-weight: 400;
}

.main_Event .event_Box01 p strong {
    font-weight: 700;
}

.main_Event .mini_Slide01 .chat {
    display: flex;
    align-items: center;
}

.main_Event .mini_Slide01 .chat img {
    height: 80px;
    width: 80px;
    margin: 10px 10px;
}

.main_Event .mini_Slide01 .chat p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 163%;
    color: #1c1c1c;
    padding: 20px 0 0 0;

}

/* ---------------------------- */

.main_Event .event_Box02 {
    background: #21819E;
    position: relative;
    overflow: hidden;
}

.main_Event .event_Box02 .mini_Slide02 {
    position: absolute;
    display: flex;
    top: 20px;
    left: 100px;
}

.main_Event .mini_Arrows {
    position: absolute;
    display: flex;
    top: 485px;
    left: 891px;
}

.main_Event .mini_Arrows i {
    font-size: 30px;
    padding: 15px;
}

.main_Event .mini_Arrows .left {
    background: rgb(255, 255, 255, 0.35);
    color: #21819E;
}

.main_Event .mini_Arrows .right {
    background: rgba(0, 0, 0, 0.1);
    color: #e6e6e6;
}

/* ---------------------------------------------------- */

.event_Box03 {
    background: #fff;
    display: flex;
}

.event_Box03 .mini_Slide03 {
    position: relative;

}


.event_Box03 .mini_Slide03 .hero a {
    display: flex;
}

.event_Box03 .mini_Slide03 .hero img {
    width: 450px;
    filter: grayscale(80%)
}


.event_Box03 .hero p {
    position: absolute;
    font-size: 0;
    font-weight: 300;
    line-height: 163%;
    color: #f0f0f0;
    padding: 5px 0 0 5px;
    background: rgba(0, 0, 0, 0.3);

    transform: translate(0, 415px);

    font-family: 'Noto Serif KR';

}

.event_Box03 .hero:hover p {
    font-size: 18px;

}


.event_Box03 .mini_Slide03 .hero img:hover {
    filter: none;
}


.event_Box03 .tin_arrows {
    position: relative;
    font-size: 35px;
    color: #b9b9b9;
}

.event_Box03 .tin_arrows::before {
    position: absolute;
    content: "";
    top: 45%;
    left: -125%;
    height: 1px;
    width: 18px;
    background: #b9b9b9;
}

.event_Box03 .tin_arrows i {
    position: relative;
    transform: translate(-150%, 20%);
    margin: 80px 0;
}

/* ---------------------------- */

.event_Box04 {}



.event_Box06 {
    background: #fff;
    display: flex;
}

.event_Box06 .mini_Slide06 .store {
    display: flex;
}

/* -------------------------------- */

.sns {
    background: #ddd;
    padding: 60px 0;
}

.sns ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sns ul>li>a {
    display: flex;
}

.sns .txt_area {
    margin: 8px 0 0 15px;
    /* vertical-align: middle; */

}

.sns .txt_area p {
    line-height: 25px;
    font-weight: 300;
}

.sns .txt_area span {
    display: block;
}

.sns .txt_area strong {
    font-size: 35px;
}